<mat-toolbar>Menu</mat-toolbar>
<mat-nav-list>
  <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">
    <mat-icon>dashboard</mat-icon>
    Dashboard
  </a>
  <a mat-list-item routerLink="/events" routerLinkActive="active-link">
    <mat-icon>event</mat-icon>
    Events
  </a>
  <a mat-list-item routerLink="/attendees" routerLinkActive="active-link">
    <mat-icon>people</mat-icon>
    Attendees
  </a>
  <a mat-list-item routerLink="/scanners" routerLinkActive="active-link">
    <mat-icon>qr_code_scanner</mat-icon>
    Scanners
  </a>
  <a mat-list-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    Logout
  </a>
</mat-nav-list>
